<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ detail_object.name }}</h1>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'todo_list_update' detail_object.id %}">Edit List</a>
                <a href="{% url 'todo_item_update' detail_object.id %}">Edit Item</a>
                <a href="{% url 'todo_list_delete' detail_object.id %}">Delete</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for items in detail_object.items.all %}
                    <tr>
                        <td>{{ items.task }}</td>
                        <td>{{ items.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
